---
title: Stare
layout: home
description: hi, I’m Stare
bio: I’m a Marketing Manager at [Magnum Photos](https://magnumphotos.com), a photography
  agency in London. I also sometimes make app, newsletters, design objects, and websites like
  this one. Find me online somewhere, if you want.
---

<div class="container">
  <section class="head">
    <h1>hi, I’m Stare</h1>
    {{ page.bio | markdownify }}
    <nav>
      {% include nav.html %}
    </nav>
  </section>


  <section class="work">
    <div class="flex">
      {% for item in site.data.work %}
      <div class="item">
        {% if item.url %}
          <h2><a class="link-with-arrow" href="{{ item.url }}">{{ item.title }}</a></h2>
        {% else %}
          <h2>{{ item.title }}</h2>
        {% endif %}
        <p>{{ item.description | markdownify }}</p>
        {% if item.l1-url %}
          <div class="links">
            <a aria-label="{{ item.l1-copy }}" role="link" class="gradient-link" href="{{ item.l1-url }}">{{ item.l1-copy }}</a>
          </div>
        {% endif %}
        {% if item.l2-url %}
          <div class="links">
            <a aria-label="{{ item.l2-copy }}" role="link" class="gradient-link" href="{{ item.l2-url }}">{{ item.l2-copy }}</a>
          </div>
        {% endif %}
        {% if item.l3-url %}
          <div class="links">
            <a aria-label="{{ item.l3-copy }}" role="link" class="gradient-link" href="{{ item.l3-url }}">{{ item.l3-copy }}</a>
          </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </section>

  <footer>
    <div>
      <p>
        🌼 bonus: if you saw something you want to chat to me about, feel free to join my <a href="https://discord.gg/4kGMAKvp" class="gradient-link">discord →</a>
      </p>
    </div>
  </footer>
</div>
